<app-header-df-form></app-header-df-form>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <div>
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque possimus
      voluptates cum quam magni amet molestias consequatur eius ea recusandae
      iste debitis, nesciunt reprehenderit eos maxime, consectetur, odit
      deserunt nemo officiis vitae fugit similique. Commodi, deleniti iusto
      facilis fuga nam dicta maiores dolorum officiis ea magnam placeat fugit
      mollitia at? Odit pariatur qui necessitatibus deleniti exercitationem
      dolorum facilis labore, sed commodi quibusdam distinctio libero ducimus
      quasi! Nostrum accusantium voluptatum, itaque exercitationem expedita
      harum. Nisi ratione facilis dolore quos veniam quidem rem vitae, dolorum,
      quis quae quibusdam, officiis repellat consequuntur animi necessitatibus
      blanditiis recusandae unde deserunt! Suscipit sint sed officia omnis?
    </div>
    <div>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>

    </div>
  </div>
</mat-drawer-container>
