<mat-toolbar class="header" color="primary">{{ selected?.title }}</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-fields (changeField)="onChangeField($event)" (close)="drawer.toggle()">
    </app-fields>
    <app-field-details
      *ngIf="currentField"
      [field]="currentField"
      (close)="onClose($event)"
    >
    </app-field-details>
  </mat-drawer>

  <div class="sidenav-content">
    <div>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <app-json-form-viewer
      [schema]="selected?.schema"
      [uischema]="selected?.uischema"
      [data]="selected?.data"
    >
    </app-json-form-viewer>
  </div>
</mat-drawer-container>
<div class="footer"></div>
