<app-header-df-form [title]="selected?.title"> </app-header-df-form>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <app-fields (changeField)="onChangeField($event)"> </app-fields>
    <app-field-details
      *ngIf="currentField"
      [field]="currentField"
      (close)="onClose($event)"
    >
    </app-field-details>
  </mat-drawer>

  <div class="sidenav-content">
    <app-json-form-viewer
      [schema]="selected?.schema"
      [uischema]="selected?.uischema"
      [data]="selected?.data"
    >
    </app-json-form-viewer>
  </div>
</mat-drawer-container>
