<div class="header">
  <div class="title">Fields/Layouts</div>
  <div class="actions">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="field-layouts">
  <div
    class="field-layout-item"
    *ngFor="let item of fields; let i = index"
    matRipple
    (click)="onAddField(item)"
    cdkDrag
  >
    <mat-icon aria-hidden="false">{{ item.icon }}</mat-icon>
    <span class="title">{{ item.displayName }}</span>
  </div>
</div>
<div
  class="field-layouts"
  cdkDropList
  cdkDropListSortingDisabled
  id="layouts"
  #inProgress="cdkDropList"
  [cdkDropListConnectedTo]="['screen']"
>
  <ng-container *ngFor="let item of layouts; let i = index">
    <div class="field-layout-item" cdkDrag [cdkDragData]="item">
      <mat-icon aria-hidden="false">{{ item.icon }}</mat-icon>
      <span class="title">{{ item.displayName }}</span>
    </div>
    <div class="example-custom-placeholder" *cdkDragPlaceholder>
      <div class="field-layout-item">
        <mat-icon aria-hidden="false">{{ item.icon }}</mat-icon>
        <span class="title">{{ item.displayName }}</span>
      </div>
    </div>
  </ng-container>
</div>
