<!-- <jsonforms
    [data]="data"
    [schema]="schema"
    [uischema]="uischema"
    [renderers]="renderers"
  ></jsonforms> -->
<mat-tab-group>
  <mat-tab label="Schema">
    <code>
      <pre>
    {{ schema | json }}
  </pre
      >
    </code>
  </mat-tab>
  <mat-tab label="UI Schema">
    <code>
      <pre>
      {{ uischema | json }}
</pre
      >
    </code>
  </mat-tab>
  <mat-tab label="Data">
    <code>
      <pre>
      {{ data | json }}
</pre
      >
    </code>
  </mat-tab>
</mat-tab-group>
