<div class="header">
  <div class="back">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
  <div class="title">Edit {{ field?.displayName }}</div>
  <div class="actions">
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="body">
  <form>
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input matInput  [formControl]="labelControl" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Property Name</mat-label>
      <input matInput  [formControl]="propertyNameControl" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Property Type</mat-label>
      <mat-select [formControl]="propertyTypeControl">
        <mat-option value="string">String</mat-option>
        <mat-option value="boolean">Boolean</mat-option>
        <mat-option value="options">Options</mat-option>
        <mat-option value="array">Array</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput  [formControl]="descriptionControl" />
    </mat-form-field>
    <mat-checkbox [formControl]="requiredControl">Required</mat-checkbox>
    <mat-form-field>
      <mat-label>Options</mat-label>
      <textarea matInput  [formControl]="optionsControl" rows="3" ></textarea>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label></mat-label>

    </mat-form-field> -->

    <!-- <mat-form-field class="example-full-width">
      <mat-label>Pro</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field> -->
  </form>
  <!-- {{ field | json }} -->
</div>
<div class="footer">
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onCreateField()">
    Create Field
  </button>
</div>
